@model BancoQuestoes.Models.Arquivo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Arquivo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professor" class="control-label"></label>
                <input asp-for="Professor" class="form-control" />
                <span asp-validation-for="Professor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag" class="form-control" />
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursoId" class="control-label"></label>
                <input asp-for="CursoId" class="form-control" />
                <span asp-validation-for="CursoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MateriaId" class="control-label"></label>
                <input asp-for="MateriaId" class="form-control" />
                <span asp-validation-for="MateriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoArquivoId" class="control-label"></label>
                <input asp-for="TipoArquivoId" class="form-control" />
                <span asp-validation-for="TipoArquivoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
